div.itemSel {
    background-color: gold;
    cursor: pointer;
}

div.itemUnsel {
    background-color: transparent;
    cursor: pointer;
}

div#cases_selection {
    width: fit-content;
}

img.caseImage {
    width: 5em;
    height: 5em;
}


/* done button that appends ">" on hover */
.abutton {
    float: right;
    display: inline-block;
    border-radius: 10px;
    background-color: #95a5a6;
    border: none;
    color: #FFFFFF;
    text-align: center;
    padding: 0.5em;
    margin: 0.125em;
    transition: all 0.3s;
    cursor: pointer;
}

.abutton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.3s;
}

.abutton span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.3s;
}

.abutton:hover span {
    padding-right: 25px;
}

.abutton:hover {
    background-color: #74898b;
}

.abutton:hover span:after {
    opacity: 1;
    right: 0;
}