div.borderedContainer {
    border-width: var(--borderWidth);
    border-style: solid;
    border-radius: var(--borderRadius);
    margin: 0.1em;
}

div.rowFlex {
    display: flex;
    flex-direction: row;
}

div.colFlex {
    display: flex;
    flex-direction: column;
}


body.niceBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin: 0;
}

.grow {
    flex-grow: 1;
}

.pad {
    padding: 0.1em 0.2em;
}

.center {
    align-items: center;
}

.caseNameStats {
    font-weight: bold;
    cursor: pointer;
}

a {
    text-decoration: underline;
    cursor: pointer;
    color: var(--accentColor);
}



body {
    font-family: "Titilium Web", sans-serif;
    font-weight: 400;
    font-size: 1.3em;
    --backgroundColor: #222;
    --accentColor: gold;
    --textColor: white;
    --borderRadius: 0.3em;
    --borderWidth: 0.1em;
    background-color: var(--backgroundColor);
    color: var(--textColor);
}


#hintWindowBack
{
	-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;
	position: fixed;
	display: none; /* hidden at the beginning */
	left: 0;
	top: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	cursor: pointer;
}

#hintWindow {
	display: none; /* hidden at the beginning */
	/*-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;*/
	position: fixed;
	z-index: 20;
	background-color: transparent;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

html {
    height: 100%;
}