.borderedContainer {
    border-width: var(--borderWidth);
    border-style: solid;
    border-radius: var(--borderRadius);
    margin: 0.1em;
}

.rowFlex {
    display: flex;
    flex-direction: row;
}

.colFlex {
    display: flex;
    flex-direction: column;
}


body.niceBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin: 0;
}

.grow {
    flex-grow: 1;
}

.pad {
    padding: 0.1em 0.2em;
}

.center {
    align-items: center;
}

.caseNameStats {
    font-weight: bold;
    cursor: pointer;
}

a {
    text-decoration: underline;
    cursor: pointer;
    color: var(--primary);
}

a:hover {
    color: var(--secondary);
}



body {
    font-family: "Titilium Web", sans-serif;
    font-weight: 400;
    font-size: 1.3em;
    --background: #222222;
    --text: #ffffff;
    --primary: #ffd700;
    --secondary: #658320;
    --accent: #abdf32;
    --borderRadius: 0.3em;
    --borderWidth: 0.1em;
    background-color: var(--background);
    color: var(--text);
}



dialog::backdrop
{
    background-color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

dialog {
    scale: 0;
    opacity: 0;
}

dialog[open] {
	position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--text);
    background-color: var(--background);
    border-radius: var(--borderRadius);
    margin: 0;
    padding: 0.1em;
    scale: 1;
    opacity: 1;
}

dialog:focus {
    outline: none;
}


html {
    height: 100%;
}

/* done button that appends ">" on hover */
.abutton {
    float: right;
    display: inline-block;
    border-radius: var(--borderRadius);
    border-style: solid;
    text-align: center;
    padding: 0.5em;
    margin: 0.125em;
    transition: all 0.3s;
    cursor: pointer;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    background-color: var(--primary);
    color: var(--text);
    font-size: 1em;
    border-color: var(--primary);
}

.abutton:hover {
    transform: translateY(-0.1em);
    box-shadow: 0px 0px 5px var(--primary);
}

.abutton:focus {
    outline: none;
}

 /* The switch - the box around the slider */
 .switch {
    position: relative;
    display: inline-block;
    width: 2.5em;
    height: 1.3em;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--text);
    -webkit-transition: .4s;
    transition: .4s;
    width: unset !important;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 1em;
    width: 1em;
    left: 0.15em;
    bottom: 0.15em;
    background-color: var(--background);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--primary);
  }
  
  input:focus + .slider {
/*     box-shadow: 0 0 1px black; */
  }
  
  input:checked + .slider:before {
      transform: translateX(1.15em);
}
  
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  } 