div.itemSel {
    background-color: var(--accent);
    cursor: pointer;
    touch-action: manipulation;
}

div.itemUnsel {
    background-color: transparent;
    cursor: pointer;
    touch-action: manipulation;
}

div#cases_selection {
    width: fit-content;
}

img.caseImage {
    width: 5em;
}

div#modeButtons {
    position: fixed;
    bottom: 5cqh;
    right: 5cqw;
    gap: 0.3em;
    font-size: 1.3em;
}