div.itemSel {
    background-color: var(--accent);
    cursor: pointer;
}

div.itemUnsel {
    background-color: transparent;
    cursor: pointer;
}

div#cases_selection {
    width: fit-content;
}

img.caseImage {
    width: 5em;
    height: 5em;
}

div#modeButtons {
    position: fixed;
    bottom: 5%;
    right: 10%;
}